# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# $ for d in $(find * -name '*.go' | xargs -n1 dirname | sort -u); do echo $d/$(basename $d); done

00-slides/day1/quick/hello/hello
00-slides/day1/quick/helloHTTP/helloHTTP
01-language_syntax/01-variables/example1/example1
01-language_syntax/01-variables/exercises/exercise1/exercise1
01-language_syntax/01-variables/exercises/template1/template1
01-language_syntax/02-struct_types/advanced/example1/example1
01-language_syntax/02-struct_types/example1/example1
01-language_syntax/02-struct_types/example2/example2
01-language_syntax/02-struct_types/exercises/exercise1/exercise1
01-language_syntax/02-struct_types/exercises/template1/template1
01-language_syntax/03-pointers/example1/example1
01-language_syntax/03-pointers/example2/example2
01-language_syntax/03-pointers/example3/example3
01-language_syntax/03-pointers/example4/example4
01-language_syntax/03-pointers/exercises/exercise1/exercise1
01-language_syntax/03-pointers/exercises/exercise2/exercise2
01-language_syntax/03-pointers/exercises/template1/template1
01-language_syntax/03-pointers/exercises/template2/template2
01-language_syntax/04-constants/example1/example1
01-language_syntax/04-constants/example2/example2
01-language_syntax/04-constants/exercises/exercise1/exercise1
01-language_syntax/04-constants/exercises/template1/template1
01-language_syntax/05-type_conversions/example1/example1
01-language_syntax/05-type_conversions/example2/example2
01-language_syntax/05-type_conversions/example3/example3
01-language_syntax/05-type_conversions/example4/example4
01-language_syntax/05-type_conversions/exercises/exercise1/exercise1
01-language_syntax/05-type_conversions/exercises/template1/template1
01-language_syntax/06-functions/advanced/example1/example1
01-language_syntax/06-functions/example1/example1
01-language_syntax/06-functions/example2/example2
01-language_syntax/06-functions/example3/example3
01-language_syntax/06-functions/exercises/exercise1/exercise1
01-language_syntax/06-functions/exercises/template1/template1
02-array_slices_maps/01-arrays/example1/example1
02-array_slices_maps/01-arrays/example2/example2
02-array_slices_maps/01-arrays/example3/example3
02-array_slices_maps/01-arrays/exercises/exercise1/exercise1
02-array_slices_maps/01-arrays/exercises/template1/template1
02-array_slices_maps/02-slices/advanced/example1/example1
02-array_slices_maps/02-slices/example1/example1
02-array_slices_maps/02-slices/example2/example2
02-array_slices_maps/02-slices/example3/example3
02-array_slices_maps/02-slices/example4/example4
02-array_slices_maps/02-slices/example5/example5
02-array_slices_maps/02-slices/example6/example6
02-array_slices_maps/02-slices/exercises/exercise1/exercise1
02-array_slices_maps/02-slices/exercises/template1/template1
02-array_slices_maps/03-maps/advanced/example1/example1
02-array_slices_maps/03-maps/example1/example1
02-array_slices_maps/03-maps/example2/example2
02-array_slices_maps/03-maps/example3/example3
02-array_slices_maps/03-maps/exercises/exercise1/exercise1
02-array_slices_maps/03-maps/exercises/template1/template1
03-methods_interfaces_embedding/01-methods/advanced/example1/example1
03-methods_interfaces_embedding/01-methods/example1/example1
03-methods_interfaces_embedding/01-methods/example2/example2
03-methods_interfaces_embedding/01-methods/exercises/exercise1/exercise1
03-methods_interfaces_embedding/01-methods/exercises/template1/template1
03-methods_interfaces_embedding/02-interfaces/example1/example1
03-methods_interfaces_embedding/02-interfaces/example2/example2
03-methods_interfaces_embedding/02-interfaces/example3/example3
03-methods_interfaces_embedding/02-interfaces/exercises/exercise1/exercise1
03-methods_interfaces_embedding/02-interfaces/exercises/template1/template1
03-methods_interfaces_embedding/03-embedding/example1/example1
03-methods_interfaces_embedding/03-embedding/example2/example2
03-methods_interfaces_embedding/03-embedding/example3/example3
03-methods_interfaces_embedding/03-embedding/example4/example4
03-methods_interfaces_embedding/03-embedding/exercises/exercise1/exercise1
03-methods_interfaces_embedding/03-embedding/exercises/template1/template1
04-packaging_exporting/example1/example1
04-packaging_exporting/example1/counters/counters
04-packaging_exporting/example2/example2
04-packaging_exporting/example2/counters/counters
04-packaging_exporting/example3/example3
04-packaging_exporting/example3/counters/counters
04-packaging_exporting/example4/example4
04-packaging_exporting/example4/animals/animals
04-packaging_exporting/example5/example5
04-packaging_exporting/example5/animals/animals
04-packaging_exporting/exercises/exercise1/exercise1
04-packaging_exporting/exercises/exercise1/toy/toy
04-packaging_exporting/exercises/template1/template1
04-packaging_exporting/exercises/template1/toy/toy
05-using_pointers/example1/example1
05-using_pointers/example2/example2
05-using_pointers/example3/example3
05-using_pointers/exercises/exercise1/exercise1
05-using_pointers/exercises/template1/template1
06-composition/example1/example1
06-composition/example2/example2
06-composition/exercises/exercise1/exercise1
06-composition/exercises/template1/template1
07-error_handling/example1/example1
07-error_handling/example2/example2
07-error_handling/example3/example3
07-error_handling/example4/example4
07-error_handling/example5/example5
07-error_handling/exercises/exercise1/exercise1
07-error_handling/exercises/exercise2/exercise2
07-error_handling/exercises/template1/template1
07-error_handling/exercises/template2/template2
08-concurrency_channels/01-goroutines/example1/example1
08-concurrency_channels/01-goroutines/example2/example2
08-concurrency_channels/01-goroutines/example3/example3
08-concurrency_channels/01-goroutines/exercises/exercise1/exercise1
08-concurrency_channels/01-goroutines/exercises/template1/template1
08-concurrency_channels/02-race_conditions/example1/example1
08-concurrency_channels/02-race_conditions/example2/example2
08-concurrency_channels/02-race_conditions/example3/example3
08-concurrency_channels/02-race_conditions/example4/example4
08-concurrency_channels/02-race_conditions/example5/example5
08-concurrency_channels/02-race_conditions/exercises/exercise1/exercise1
08-concurrency_channels/02-race_conditions/exercises/template1/template1
08-concurrency_channels/03-channels/example1/example1
08-concurrency_channels/03-channels/example2/example2
08-concurrency_channels/03-channels/example3/example3
08-concurrency_channels/03-channels/example4/example4
08-concurrency_channels/03-channels/exercises/exercise1/exercise1
08-concurrency_channels/03-channels/exercises/exercise2/exercise2
08-concurrency_channels/03-channels/exercises/template1/template1
08-concurrency_channels/03-channels/exercises/template2/template2
09-concurrency_patterns/chat/chat
09-concurrency_patterns/chat/main/main
09-concurrency_patterns/pool/pool
09-concurrency_patterns/pool/main/main
09-concurrency_patterns/task/task
09-concurrency_patterns/task/main/main
10-testing/01-testing/example1/example1
10-testing/01-testing/example2/example2
10-testing/01-testing/example3/example3
10-testing/01-testing/example4/example4
10-testing/01-testing/example4/handlers/handlers
10-testing/02-prediction/02-prediction
10-testing/03-caching/03-caching
10-testing/04-godebug/04-godebug
10-testing/05-profiling/05-profiling
10-testing/exercises/exercise1/exercise1
10-testing/exercises/template1/template1
11-standard_library/01-logging/example1/example1
11-standard_library/01-logging/example2/example2
11-standard_library/01-logging/exercises/exercise1/exercise1
11-standard_library/01-logging/exercises/template1/template1
11-standard_library/02-encoding/example1/example1
11-standard_library/02-encoding/example2/example2
11-standard_library/02-encoding/example3/example3
11-standard_library/02-encoding/example4/example4
11-standard_library/02-encoding/exercises/exercise1/exercise1
11-standard_library/02-encoding/exercises/template1/template1
11-standard_library/03-writers_readers/advanced/example1/example1
11-standard_library/03-writers_readers/advanced/example2/example2
11-standard_library/03-writers_readers/example1/example1
11-standard_library/03-writers_readers/example2/example2
11-standard_library/03-writers_readers/example3/example3
11-standard_library/03-writers_readers/exercises/exercise1/exercise1
11-standard_library/03-writers_readers/exercises/template1/template1
12-reflection/example1/example1
12-reflection/example2/example2
12-reflection/example3/example3
12-reflection/exercises/exercise1/exercise1
12-reflection/exercises/template1/template1
13-http/api/api
13-http/api/app/app
13-http/api/handlers/handlers
13-http/api/middleware/middleware
13-http/api/models/models
13-http/api/routes/routes
13-http/api/services/services
13-http/api/tests/tests
13-http/api/tests/endpoint/endpoint
13-http/api/tests/services/services
13-http/example1/example1
13-http/example2/example2
13-http/example3/example3
14-cli/01-invocation/example1/example1
14-cli/02-streams/example1/example1
14-cli/02-streams/example2/example2
14-cli/03-flow/example1/example1
